<div class="collapsible collapsible__expanded">
    <header class="collapsible__header">
        <h2 class="collapsible--heading">Item1</h2>
        <svg class="icon icon-white collapsible--chivron">
            <use xlink:href="images/sprite2.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sit.
    </div>
</div>
<div class="collapsible collapsible__expanded">
    <header class="collapsible__header">
        <h2 class="collapsible--heading">Item1</h2>
        <svg class="icon icon-white collapsible--chivron">
            <use xlink:href="images/sprite2.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sit.
    </div>
</div>   
<script src="js/main.js"></script>  